html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
